body {
    margin: 0;
    padding: 0;
    font-family: "Pretendard";
    background-color: #0B0D14;
    /* height: 5000px; */
    position: relative;
}
.progress-container {
    width: 100%;
    height: 3px;
    background: #CCCCCC;
}
.progress-container .progress-bar {
    width: 0;
    height: 3px;
    background: #00162D;
}
a {
    text-decoration: none;
    color: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
header {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
#logo {
    position: absolute;
    width: 100px;
    top: 15px;
    left: 100px;
}
#menu {
    position: absolute;
    top: 5px;
    right: 100px;
    font-size: 20px;
    color: #fff;
}
#menu li {
    color: #fff;
    padding: 0 20px 0 20px;
    display: inline-block;
}
#menu li a:hover {
    color: gray;
}
#top {
    position: fixed;
    padding: 15px 13px 14px 13px;
    bottom: 50px;
    right: 50px;
    background-color: #0B0D14;
    color: white;
    z-index: 999;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

/* 헤더 */
#wrap {
    width: 100%;
}
#wrap section {
    overflow: hidden;
    position: relative;
    width: 100%;
    /* height: 100vh; */
    /* border-bottom: 1px dotted #ddd; */
}
#wrap section .inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#wrap section.sec1 {
    height: 199vh;
    /* border: solid 1px red; */
}
.sec1 video {
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    filter: brightness(40%);
}
#wrap section.sec1 h1 {
    opacity: 0;
    position: absolute;
    /* color: #fff;
    left: 0;
    top: 10%; */
    width: 100%;
    /* font-size: 40px; */
    /* text-align: center; */
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transition: all 0.2s ease;
}
#wrap section.sec1 h2.sec1_tit1 {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
.sec1_tit2 {
    /* margin-top: 5%; */
    font-size: 2.5rem;
    top: 20%;
    /* left: 16%; */
    text-align: center;
    color: #9BA4B5;
}
.sec1_tit3 {
    /* margin-top: 15%; */
    top: 25%;
    /* left: 16%; */
    text-align: center;
    font-size: 4rem;
    color: #fff;
    text-shadow: 0px 4px 10px #ffffff72 ;
}

/* sec2 */
#wrap section.sec2 h2 {
    opacity: 0.2;
    position: absolute;
    /* color: #fff;
    left: 0;
    top: 10%; */
    width: 100%;
    /* font-size: 40px; */
    /* text-align: center; */
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transition: all 0.5s ease;
}
#wrap section.sec2 h2.sec2_tit1 {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
.sec2 {
    position: relative;
    /* background-color: #9BA4B5; */
    /* border: solid 1px red; */
    margin-top: -35%;
    height: 100vh;
}
.sec2_tit1 {
    position: absolute;
    color: #fff;
    font-family: "Pretendard Thin";
    letter-spacing: 2px;
    left: 10%;
    line-height: 1.3;
    margin-top: -15%;
}
.sec2_tit2 {
    position: absolute;
    color: #fff;
    font-family: "Pretendard Thin";
    letter-spacing: 2px;
    left: 10%;
    line-height: 1.3;
    margin-top: -5%;
}
.sec2_tit3 {
    position: absolute;
    color: #fff;
    font-family: "Pretendard Thin";
    letter-spacing: 2px;
    left: 10%;
    line-height: 1.3;
    margin-top: 4%;
}
#sec2_p{
    color: #394867;
    position: absolute;
    bottom: 15%;
    left: 10%;
}
#virus1 {
    position: absolute;
    top: 10%;
    right: 12%;
    width: 30%;
    opacity: 0;
}
#virus2 {
    position: absolute;
    top: 2%;
    right: 50%;
    width: 10%;
    opacity: 0.5;
}
#virus3 {
    position: absolute;
    bottom: 2%;
    right: 10%;
    width: 8%;
    opacity: 0.5;
}
#virus4 {
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 20%;
    opacity: 0;
}

/* sec3 */
.sec3 {
    /* background-color: #5cb18d; */
    position: relative;
    height: 120vh;
}
.sec3 h1{
    position: absolute;
    color: #fff;
    margin-top: -35%;
    left: 10%;
    border-bottom: solid;
}
.sec3 h2{
    position: absolute;
    color: #fff;
    font-family: "Pretendard Thin";
    letter-spacing: 2px;
    left: 10%;
    line-height: 1.7;
    margin-top: -15%;
    text-shadow: 2px 2px 4px #0B0D14 ;
    /* border: solid 1px red; */
}
span {
    background-image: linear-gradient(#3e5f9e, #3e5f9e);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 1s ease-in;
}
.active {
    background-size: 100% 100%;
}
#images{
    position: absolute;
    text-align: center;
    margin-top: 20%;
}
#images img{
    width: 17%;
    padding: 2%;
}

/* sec4 */
.sec4 {
    /* background-color: #5cb18d; */
    color: #fff;
    overflow: hidden;
    height: 100vh;
}
.sec4 h1{
    position: absolute;
    color: #fff;
    margin-top: -25%;
    left: 10%;
    border-bottom: solid;
}
.box h1 {
    font-size: 50px;
    text-align: centerspa;
}
.box_wrapper {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    width: 100%;
}
.box_wrapper img{
    width: 100%;
}
.box_wrapper h2{
    position: absolute;
    font-size: 2rem
}
.box {
    /* border: solid 1px red; */
    padding: 0% 1% 0 1%;
    width: 25%;
    /* height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.box_wrapper p{
    margin-left: -100%;
    margin-top: 100%;
    line-height: 1.5;
    font-size: 1.2rem;
}

/* sec5 */
.sec5 {
    /* background-color: #3e5f9e; */
    position: relative;
    height: 100vh;
}
.sec5 h2{
    position: absolute;
    color: #fff;
    text-align: center;
    line-height: 2;
    font-size: 2rem;
    text-shadow: 0px 0px 6px #fff ;
}
#end{
    color: #ff0000;
    text-shadow: 0px 0px 6px #ff0000 ;
}
#ending{
    position: absolute;
    color: #394867;
    margin-bottom: -40%;
}